<%= render "layouts/header" %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
    <h1 class="create-user">新規ユーザー登録</h1>
    <%= render "layouts/error_user" %>
    <%= form_with(model: @user, local: true) do |f| %>
      <div class="mb-3">
        <%= f.label :image %>
        <%= f.file_field :image, class: 'form-control', accept: 'image/*' %>
      </div>

      <div class="mb-3">
        <%= f.label :name, "ユーザー名" %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    
      <div class="mb-3">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      
      <div class="mb-3">
        <%= f.label "パスワード" %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      
      <div class="mb-3">
        <%= f.label "パスワード(確認)" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      
    <%= f.submit value="登録", class: "btn btn-primary", id: "create-user" %>
    <%= link_to "トップ画面に戻る", root_path, class: "btn btn-light" %>
    <% end %>
</div>
