<%= render "layouts/header" %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
    <h1>編集</h1>
    <%= form_with(model: @check, url: "/checks/#{@check.id}", method: :patch) do |f| %>
      <div class="mb-3">
        <%= f.label :product, "商品名" %>
        <%= f.text_field :product, class: 'form-control' %>
      </div>
    
      <div class="mb-3">
        <%= f.label :like, "ご飯への食いつき度" %><br>
        <%= f.select :like, [["よく食べる", "よく食べる"], 
        ["あまり食べない", "あまり食べない"], 
        ["まったく食べない", "まったく食べない"]], include_blank: "選択して下さい", 
        class: 'form-control' %>
      </div>
      
      <div class="mb-3">
        <%= f.label :text, "ひとこと" %>
        <%= f.text_area :text, class: 'form-control' %>
      </div>
      
    <%= f.submit value="編集", class: "btn btn-primary", id: "edit-check" %>
    <%= link_to "一覧画面に戻る", index_path, class: "btn btn-light" %>
    <% end %>
</div>