<% provide(:title, "一覧") %>

<%= render "layouts/header" %>
<%= render "layouts/flash" %>
  
<div class="container">
  <h1>これまでの記録</h1>
  <% @checks.each do |check| %>  
  <div class="row">
    <ul>
      <li class="list-group-item list-group-item-light">
        <div class="col-6">  
          <b><%= check.product %></b>
        </div>
        <div class="col-6-right-side"> 
          <%= check.like %><br>
          <%= check.text %>
        </div>
  
        <div class="edit-del">
          <%= link_to "編集", "/checks/#{check.id}/edit", class: "btn btn-light" %>
          <%= link_to "削除", "/checks/#{check.id}", class: "btn btn-secondary", 
          data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
        </div>
      </li>
  </div>       
  <% end %>      
    </ul>
  </div>   
</div>
  
