<%= render "layouts/header" %>

<div class="container">
    <% @checks.each do |check| %>  
  <div class="row">
      <ul>
        <li class="list-group-item list-group-item-light">
          <div class="col-6">  
            <%= check.product %>
          </div>
          <div class="col-6">  
          <%= check.like %>
          <%= check.text %>
          </div>
        <div class="edit-del">
          <%= link_to "編集", "/checks/#{check.id}/edit" %>
          <%= link_to "削除", "/checks/#{check.id}", 
          data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
        </div>
        </li>
        <% end %>
      </ul>
    
  </div>   
</div>
  
  

