<%= render "layouts/header" %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
    <h1>好き嫌い　記録</h1>
<%#    <%= render "layouts/error_user" %>
    <%= form_with(model: @check, local: true) do |f| %>
      <div class="mb-3">
        <%= f.label :product, "商品名" %>
        <%= f.text_field :product, class: 'form-control' %>
      </div>
    
      <div class="mb-3">
        <%= f.label :like, "好き嫌い" %>
        <%= f.text_field :like, class: 'form-control' %>
      </div>
      
      <div class="mb-3">
        <%= f.label :text, "ひとこと" %>
        <%= f.text_area :text, class: 'form-control' %>
      </div>
      
    <%= f.submit value="登録", class: "btn btn-primary", id: "create-check" %>
    <%= link_to "トップ画面に戻る", "/", class: "btn btn-light" %>
    <% end %>
</div>