<%= render "layouts/header" %>

<div class="container-md">
  <%= render "layouts/flash" %>
    <h1 class="top-title">猫飯記録帳</h1>
    <div class="top-page">
      <h2><span>新しく猫を飼い始めたあなたへ</span></h2>
      <p>どのご飯が合うかわからず、困っていませんか？</p>
      </p>飼い猫の好き嫌いを管理するための記録アプリです。</p>
      </p>健康で長生きしてもらうためにも、
      </p>それぞれの猫に合ったご飯を見つけ、定着させることが重要です。</p>
    </div>
    
  <div class="wrap slide-paused" ontouchstart="">
    <ul class="top-images">
      <li class="top-image"><%= image_tag "top-page-image2.png", size: "150x150" %></li>
      <li class="top-image"><%= image_tag "top-page-image1.png", size: "150x150" %></li>
      <li class="top-image"><%= image_tag "top-page-image3.png", size: "150x150" %></li>
    </ul>
    <ul class="top-images">
      <li class="top-image"><%= image_tag "top-page-image2.png", size: "150x150" %></li>
      <li class="top-image"><%= image_tag "top-page-image1.png", size: "150x150" %></li>
      <li class="top-image"><%= image_tag "top-page-image3.png", size: "150x150" %></li>
    </ul>
    <ul class="top-images">
      <li class="top-image"><%= image_tag "top-page-image2.png", size: "150x150" %></li>
      <li class="top-image"><%= image_tag "top-page-image1.png", size: "150x150" %></li>
      <li class="top-image"><%= image_tag "top-page-image3.png", size: "150x150" %></li>
    </ul>
  </div>
</div>
  
  
