<!--　　　画面共通のヘッダー　　　-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!--ログインしている場合の画面-->
<%#  <% if logged_in? %>
    <%= link_to "【ロゴ】", "#", class: "btn btn-light" %>
    <%= link_to "マイページ", "#", class: "btn btn-light" %>
    <%= link_to "投稿作成", checks_new_path, class: "btn btn-light" %>
    <%= link_to "ログアウト", "#",  data: { turbo_method: :delete },
    class: "btn btn-light" %>
    <%= link_to "新規登録", signup_path, class: "btn btn-light" %>
    <%= link_to "ログイン", "#", class: "btn btn-light" %>
</nav>

<!--ログアウト状態の画面-->
<%#<nav class="navbar navbar-expand-lg navbar-light bg-light">    
<%#  <% else %>
<%#    <%= link_to "新規登録", "#", class: "btn btn-light" %>
<%#    <%= link_to "ログイン", "#", class: "btn btn-light" %>
<%#  <% end %>   
